# base paths
export XS_PROJECT_ROOT=$(pwd)
export NEMU_HOME=$(pwd)/NEMU
export AM_HOME=$(pwd)/nexus-am
export NOOP_HOME=$(pwd)/XSAI
export DRAMSIM3_HOME=$(pwd)/DRAMsim3
export LLVM_HOME=$(pwd)/local/llvm

# firmware paths
export RISCV_LINUX_HOME=$(pwd)/firmware/riscv-linux
export RISCV_ROOTFS_HOME=$(pwd)/firmware/riscv-rootfs
export WORKLOAD_BUILD_ENV_HOME=$(pwd)/firmware/nemu_board
export OPENSBI_HOME=$(pwd)/firmware/opensbi
export LibCheckpoint=$(pwd)/firmware/LibCheckpoint

# toolchain settings
server_path=/nfs/share/riscv
host_path=/opt/riscv
if [ -d "$server_path" ]; then
export RISCV=$server_path
elif [ -d "$host_path" ]; then
export RISCV=$host_path
else
echo "Error: No RISC-V toolchain found in $server_path or $host_path"
fi

export ARCH=riscv
export CROSS_COMPILE=riscv64-unknown-linux-gnu-
PATH_add $RISCV/bin

# PATH_add $XS_PROJECT_ROOT/local/bin