[submodule "XSAI"]
	path = XSAI
	url = https://github.com/OpenXiangShan/XSAI
	branch = master
[submodule "nexus-am"]
	path = nexus-am
	url = https://github.com/Gs-ygc/nexus-am.git
	branch = master
[submodule "DRAMsim3"]
	path = DRAMsim3
	url = https://github.com/OpenXiangShan/DRAMsim3.git
	branch = master
[submodule "NEMU"]
	path = NEMU
	url = https://github.com/yu-yake2002/NEMU-Matrix.git
	branch = master
[submodule "NutShell"]
	path = NutShell
	url = https://github.com/OSCPU/NutShell
	branch = difftest
	update = none
[submodule "llvm-project-ame"]
	path = llvm-project-ame
	url = https://github.com/xyyy1420/llvm-project-ame.git
	branch = triton-commit-hash
	shallow = true
	update = none
[submodule "riscv-matrix-spec"]
	path = riscv-matrix-spec
	url = https://github.com/OpenXiangShan/riscv-matrix-spec
[submodule "qemu"]
	path = qemu
	url = https://github.com/OpenXiangShan/qemu
	branch = 9.0.0_matrix-v0.6
	shallow = true
[submodule "firmware/opensbi"]
	path = firmware/opensbi
	url = https://github.com/riscv-software-src/opensbi.git
	branch = master
	update = none
	ignore = untracked
[submodule "firmware/riscv-rootfs"]
	path = firmware/riscv-rootfs
	url = https://github.com/OurCompArchGroup/riscv-rootfs.git
	branch = checkpoint
[submodule "firmware/nemu_board"]
	path = firmware/nemu_board
	url = https://github.com/OpenXiangShan/nemu_board.git
	branch = master
[submodule "firmware/LibCheckpoint"]
	path = firmware/LibCheckpoint
	url = https://github.com/OpenXiangShan/LibCheckpoint
	branch = master
[submodule "firmware/gcpt_restore"]
	path = firmware/gcpt_restore
	url = https://github.com/OpenXiangShan/LibCheckpointAlpha.git
	branch = main
[submodule "docs/CUTE-Design-Doc"]
	path = docs/CUTE-Design-Doc
	url = https://github.com/OpenCUTE/CUTE-Design-Doc.git
	branch = master
